*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: #000;
}

.nav_container{
    height: 10rem;
    width: 100%;
    position: fixed;
    background:#f76c6c;
    top: 0;
    z-index: 9999;
}

    .nav_container_logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 100%;
        height: 10rem;
    }

        .nav_container_logo img{
            width: 10rem;
            height: 10rem;
            object-fit: cover;
        }

        .nav_container_logo i{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            width: 7rem;
            height: 7rem;
            font-size: 4rem;
        }

        #openNav{
            display: flex;
            opacity: 1;
            transition: opacity 1s;
        }

        #closeNav{
            display: none;
            opacity: 0;
            transition: opacity 1s;
        }

    .nav_container_list{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 0;
        background:#f76c6c;
        transition: height 1s;
    }

        .nav_container_list-li{
            position: relative;
            text-decoration: none;
            color: #fff;
            font-size: 0rem;
            opacity: 0;
            transition: opacity 1s;
        }

        .nav_container_list-li::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 0.175rem;
            left: 0;
            bottom: 0;
            background: #ffffff;
            transform: scale(0,1);
            transition: transform .3s ease;
        }

        .show-underline-effect::after{
            transform: scale(1,1);
            transition: transform .3s ease;
        }

        .show-nav{
            height: 20rem;
            transition: height 1s;
        }

        .show-li-height{
            font-size: 2rem;
            opacity: 1;
            transition: opacity 1s;
        }

@media only screen and (min-width:1024px) {
    
    .nav_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .nav_container_logo{
        align-items: center;
        justify-content: center;
        width: 10%;
    }

        .nav_container_logo i{
            display: none;
        }

    #openNav{
        display: none;
    }

    #closeNav{
        display: none;

    }

    .nav_container_list{
        flex-flow: row wrap;
        justify-content: center;
        width: 90%;
        height: 100%;
        position: static;
        transition: height 0s;
    }

        .nav_container_list-li{
            font-size: 2rem;
            opacity: 1;
            transition: opacity 0s;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .nav_container_list-li:hover{
            color: #00000075;
            transition: color 1s;
        }

}

.home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
    height: 80rem;
    margin-top: 10rem;
}

    .home_container_center{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column wrap;
        width: 80%;
        height: 100%;
        background: transparent;
    }

        .home_container_img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 30rem;
        }

            .home_container_img img{
                height: 25rem;
                width: 25rem;
                object-fit: cover;
                border-radius: 50%;
            }    
        
        .home_container_information{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            width: 80%;
            height: 25rem;
        }

            .home_container_information h2{
                color:#fff;
                font-size: 3.5rem;
                text-align: center;
            }

            .home_container_information h2 span{
                color:#f76c6c;
                font-size: 3.5rem;
                text-align: center;
            }

        .home_container_networks{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            height: 15rem;
            width: 80%;
        }

            .home_container_networks i{
                font-size: 4.5rem;
                color: #f76c6c;
                margin-left: 1rem;
                margin-right: 1rem; 
                transition: color 1s;
            }

            .home_container_networks i:hover{
                background: -webkit-linear-gradient(#ffffff, #f76c6c);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: color 1s;              
            }

            .home_container_networks i:active{
                background: -webkit-linear-gradient(#ffffff, #f76c6c);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: color 1s;
            }

@media only screen and (min-width: 768px){

    .home_container{
        height: 90rem;
    }
    
        .home_container_center{
            width: 90%;
        }
    
            .home_container_img{
                justify-content: flex-start;
                width: 100%;
                height: 35rem;
            }
    
                .home_container_img img{
                    height: 35rem;
                    width: 35rem;
                }
            
            .home_container_information{
                align-items: flex-end;
                justify-content: flex-start;
                width: 90%;
                height: 20rem;
            }
    
                .home_container_information h2{
                    font-size: 5rem;
                }
    
                .home_container_information h2 span{
                    font-size: 5rem;
                }
    
            .home_container_networks{
                height: 15rem;
                width: 90%;
                position: relative;
            }
    
                .home_container_networks i{
                    font-size: 5rem;
                }

}

@media only screen and (min-width: 1024px){

    .home_container{
        height: 80rem
    }
    
        .home_container_center{
            justify-content: center;
            height: 80rem;
        }
    
            .home_container_img{
                align-items: flex-start;
                position: absolute;
                height: 80%;
                width: 90%;
            }
    
                .home_container_img img{
                    height: 40rem;
                    width: 40rem;
                }
            
            .home_container_information{
                align-items: flex-end;
                justify-content: flex-end;
                height: 80%;
            }
    
                .home_container_information h2{
                    font-size: 6rem;
                }
    
                .home_container_information h2 span{
                    font-size: 6rem;
                }
    
            .home_container_networks{
                height: 10%;
            }
    
                .home_container_networks i{
                    font-size: 5rem;
                    cursor: pointer;
                    margin-left: 2rem;
                    margin-right: 2rem;
                }

}

.writeStyle{
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
@keyframes caret {
50% {
    border-color: transparent;
}
}

@media only screen and (min-width: 1280px){
    
    .home_container_img img{
        height: 55rem;
        width: 55rem;
    }

    .home_container_information h2{
        font-size: 6rem;
    }

    .home_container_information h2 span{
        font-size: 6rem;
    }

    .home_container_networks i{
        font-size: 5rem;
    }

}

@media only screen and (min-width: 1920px){
    
    .home_container_img img{
        height: 60rem;
        width: 60rem;
    }

    .home_container_information h2{
        font-size: 10rem;
    }

    .home_container_information h2 span{
        font-size: 10rem;
    }

    .home_container_networks i{
        font-size: 7rem;
    }

}

.skills_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    height: 50rem;
    transform: translateX(-200%);
    transition: transform 1s;
    margin-top: 5rem;
}



    .skills_container_title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 10rem;
    }   

        .skills_container_title h2{
            font-size: 5rem;
            color: #fff;
        }

        .skills_container_title h2 span{
            font-size: 5rem;
            color:#f76c6c;
        }

    .skills_container_information{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 40rem;
    }

        .skills_container_information_list{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-flow: row wrap;
            width: 100%;
            height: 40rem;
        }

            .skills_container_information_list li{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 50%;
            }

                .skills_container_information_list img{
                    width: 10rem;
                    height: 10rem;
                }

                .img-effect{
                    position: absolute;
                    opacity: 1;
                    transition: opacity 1s;
                }

                .img-effect:hover{
                    opacity: 0;
                    transition: opacity 1s;
                }

                .img-effect:active{
                    opacity: 0;
                    transition: opacity 1s;
                }

@media only screen and (min-width:768px){

    .skills_container_information_list li{
        width: 30%;
    }

}

@media only screen and (min-width: 1024px){

    .skills_container{
        height: 45rem;
    }
    
        .skills_container_title{
            height: 15rem;
        }   
    
            .skills_container_title h2{
                font-size: 7rem;
            }
    
            .skills_container_title h2 span{
                font-size: 7rem;
            }
    
        .skills_container_information{
            height: 30rem;
        }
    
            .skills_container_information_list{
                height: 30rem;
            }

            .skills_container_information_list li{
                width: 15%;
            }
    
                    .skills_container_information_list img{
                        width: 15rem;
                        height: 15rem;
                    }

}


.about_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column wrap;
    width: 100%;
    height: 135rem;
    transform: translateX(-200%);
    transition: transform 1s;
    margin-top: 5rem;
}

    .about_container_title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 10rem;
    }

        .about_container_title h2{
            color: #fff;
            font-size: 5rem;
        }

        .about_container_title h2 span{
            color: #f76c6c;
            font-size: 5rem;
        }

    .about_container_description{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 20rem;
    }

        .about_container_description p{
            font-size: 1.9rem;
            text-align: justify;
            color: #fff;
        }

    .about_container_information{
        width: 90%;
        height: 95rem;
    }

        .about_container_information_img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40rem;
        }

        .about_container_information_img img{
            width: 35rem;
            height: 35rem;
            object-fit: cover;
            border-radius: 1rem;
        }

    .about_container_information_text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
        height: 60rem;
    }

        .about_container_information_text_header{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-flow: column wrap;
            width: 100%;
            height: 20rem;
        }

            .about_container_information_text_header h2{
                font-size: 3rem;
                color: #f76c6c;
            }

            .about_container_information_text_header p{
                font-size: 1.9rem;
                text-align: justify;
                color: #fff;
            }

        .about_container_information_text_list{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: row wrap;
            width: 100%;
            height: 40rem;
        }

            .about_container_information_text_list li{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 45%;
                color: #fff;
                font-size: 1.5rem;
                margin-right: 1rem;
            }

                .about_container_information_text_list li i{
                    color:#f76c6c;
                    font-size: 1.5rem;
                    padding-right: .5rem;
                }

                .about_container_information_text_list li b{
                    color: #f76c6c;
                    font-size: 1.5rem;
                    padding-right: .5rem;
                }

@media only screen and (min-width:768px) {
    
    .about_container_description p{
        font-size: 2.5rem;
    }

    .about_container_information_text_header h2{
        font-size: 4rem;
    }

    .about_container_information_text_header p{
        font-size: 2.5rem;
    }

    .about_container_information_text_list li{
        font-size: 2.5rem;
    }

        .about_container_information_text_list li i{
            font-size: 2.5rem;
        }

        .about_container_information_text_list li b{
            font-size: 2.5rem;
        }

        .about_container_information_img img{
            width: 100%;
            object-fit: cover;
        }
}

@media only screen and (min-width:768px) {
    
    .about_container{
        height: 155rem;
    }

    .about_container_title h2{
        font-size: 7rem;
    }

    .about_container_title h2 span{
        font-size: 7rem;
    }

    .about_container_description p{
        font-size: 3rem;
    }

    .about_container_information_text_header h2{
        font-size: 5rem;
    }

    .about_container_information_text_header p{
        font-size: 3rem;
    }

    .about_container_information_text_list li{
        font-size: 3rem;
    }

        .about_container_information_text_list li i{
            font-size: 3rem;
        }

        .about_container_information_text_list li b{
            font-size: 3rem;
        }

    .about_container_information{
        height: 115rem;
    }

        .about_container_information_img{
            height: 60rem;
        }

        .about_container_information_img img{
            width: 100%;
            height: 55rem;
        }
}

@media only screen and (min-width:1280px) {
    
    
.about_container{
    height: 100rem;
}

    .about_container_title{
    }

        .about_container_title h2{
            font-size: 7rem;
        }

        .about_container_title h2 span{
            font-size: 7rem;
        }

    .about_container_description{
    }

        .about_container_description p{
            font-size: 3rem;
        }

    .about_container_information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        width: 90%;
        height: 60rem;
    }

        .about_container_information_img{
            position: relative;
            width: 30%;
            height: 60rem;
        }

        .about_container_information_img img{
            width: 100%;
            height: 100%;

        }

    .about_container_information_text{
        width: 70%;
        height: 60rem;
    }

        .about_container_information_text_header{
            flex-flow: column wrap;
            height: 20rem;
            padding-left: .5rem;
        }

            .about_container_information_text_header h2{
                font-size: 5rem;
            }

            .about_container_information_text_header p{
                font-size: 3rem;
            }

        .about_container_information_text_list{
            justify-content: flex-end;
            padding-left: .5rem;
        }

            .about_container_information_text_list li{
                font-size: 3rem;
            }

                .about_container_information_text_list li i{
                    font-size: 3rem;
                }

                .about_container_information_text_list li b{
                    font-size: 3rem;
                }


}

.portfolio_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 100%;
    height: 50rem;
    transform: translateX(-200%);
    transition: transform 1s;
    margin-top: 5rem;
}

    .portfolio_container_title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 10rem;
    }

        .portfolio_container_title h2{
            font-size: 5rem;
            color: #fff;
        }

        .portfolio_container_title h2 span{
            font-size: 5rem;
            color:#f76c6c;
        }

    .portfolio_container_slider{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-flow: row wrap;
        width: 90%;
        height: 40rem;
    }

        .portfolio_container_slider i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 40rem;
            color: #fff;
            font-size: 5rem;
            transition: color 1s;
            cursor: pointer;
        }
        
        .portfolio_container_slider i:hover{
            color: #f76c6c;
            transition: color 1s;
        }

        .portfolio_container_slider i:active{
            color: #f76c6c;
            transition: color 1s;
        }

        .portfolio_container_slider_options{
            position: relative;
            width: 60%;
            height: 40rem;
            overflow-x: hidden;
        }

            .portfolio_option{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-flow: column wrap;
                width: 100%;
                height: 40rem;
                position: absolute;
                transform: translateX(200%);
                transition: transform 1s;
            }

            .current-option{
                transform: translateX(0%);
                transition: transform 1s;
            }

                .portfolio_option img{
                    width: 15rem;
                    height: 15rem;
                    object-fit: cover;
                }

                .img-effectTwo{
                    position: absolute;
                    opacity: 1;
                    transition: opacity 1s;
                }

                .img-effectTwo:hover{
                    opacity: 0;
                    transition: opacity 1s;
                }

                .img-effectTwo:active{
                    opacity: 0;
                    transition: opacity 1s;
                }

                .portfolio_option button{
                    background: #f76c6c;
                    color: #fff;
                    font-size: 2rem;
                    border: none;
                    padding: 1rem;
                    transition: background 1s, color 1s;
                    cursor: pointer;
                    border-radius: 1rem;
                }

                .portfolio_option button:hover{
                    background: #fff;
                    color: #f76c6cbe;
                    transition: background 1s, color 1s;
                }

                .portfolio_option button:active{
                    background: #fff;
                    color: #f76c6cbe;
                    transition: background 1s, color 1s;
                }

@media only screen and (min-width:1024px){

    .portfolio_container{
        height: 80rem;
    }
    
            .portfolio_container_title h2{
                font-size: 7rem;
            }
    
            .portfolio_container_title h2 span{
                font-size: 7rem;
            }
    
        .portfolio_container_slider{
            height: 50rem;
        }
    
            .portfolio_container_slider i{
                height: 50rem;
                font-size: 7rem;
            }
    
            .portfolio_container_slider_options{
                width: 60%;
                height: 50rem;
            }
    
                .portfolio_option{
                    height: 50rem;
                }
    
                    .portfolio_option img{
                        width: 30rem;
                        height: 30rem;
                    }
    
                    .portfolio_option button{
                        font-size: 4rem;
                    }

}

.show-portfolio{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 15000;
    top: 0;
    left: 0;
    background-image:url("/web2/templates/fondo.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
    transform: translateX(-200%);
    transition: transform 1s;
}

    .portfolio_mobile{
        width: 100%;
    }

        .portfolio-center{
            display: none;
            align-items: flex-start;
            justify-content: center;
            flex-flow: row wrap;
            height: 100%;
            width: 100%;
        }

            .portfolio-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-flow: row wrap;
                width: 100%;
                height: 10rem;
                padding: 1rem;
            }

                .portfolio-header img{
                    width: 7rem;
                    height: 7rem;
                    object-fit: cover;
                }

                .portfolio-header h2{
                    font-size: 3rem;
                    color:#fff;
                }

                .portfolio-header i{
                    font-size: 3rem;
                    color:#fff;
                }


.open-portfolio{
    display: block;
}

            .portfolio-list{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-flow: row wrap;
                width: 100%;
                height: auto;
                overflow-y: auto;
                overflow-x: hidden;
            }

                .portfolio-item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column wrap;
                    width: 90%;
                    height: auto;
                    border-bottom: .2rem solid #fff;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

                    .portfolio-item-title{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        z-index: 100000;
                        width: 100%;
                        height: 5rem;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }

                        .portfolio-item-title h2{
                            display: block;
                            overflow: hidden;  
                            font-size: 3rem;
                            color: #fff;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 40rem;
                        }

                        .portfolio-item-title i{
                            font-size: 3rem;
                            color: #fff;
                        }

                    .portfolio-item-information{
                        display: none;
                        align-items: center;
                        justify-content: center;
                        flex-flow: row wrap;
                        width: 100%;
                        max-height: 0;
                        opacity: 0;
                        transition: max-height 1s, opacity .5s;
                        padding: 0rem;
                    }

                    .portfolio-item-information-p-cen{
                        color: #fff;
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    .portfolio-item-information-h3{
                        font-size: 3rem;
                        color: #fff;
                        margin-bottom: 1rem;
                        width: 100%;
                        text-align: center;
                    }

                    .portfolio-item-information-p{
                        color: #fff;
                        font-size: 2rem;
                        margin-bottom: 1rem;
                        width: 100%;
                    }
                    
                    iframe{
                        max-width: 80%;
                        height: auto;
                        object-fit: cover;
                        border: none;
                        margin-bottom: 1rem;
                    }

                    .portfolio-item-information-button{
                        background-color: #fff;
                        border: none;
                        width: 100%;
                    }
                        .portfolio-item-information-button a{
                            color: #f76c6c;
                            font-size: 4rem;
                            text-decoration: none;
                        }

                    .open-information-li{
                        position: relative;
                        max-height: 200rem;
                        opacity: 1;
                        padding: 1rem;
                        transition: max-height 1s, opacity 3s;
                    }

                    .portfolio_desktop{
                        display: none;
                    }
@media only screen and (min-width:768px){

    .portfolio-item-information{
        flex-flow: column nowrap;
    }

    .portfolio-header img{
        width: 8rem;
        height: 8rem;
    }

    .portfolio-header h2{
        font-size: 4rem;
    }

    .portfolio-header i{
        font-size: 4rem;
    }
    
    .portfolio-item-title h2{
        font-size: 4rem;
    }

    .portfolio-item-title i{
        font-size: 4rem;
    }
}

@media only screen and (min-width:1024px){
    
    .portfolio_mobile{
        display: none;
    }

    .portfolio_desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

        .portfolio_desktop_center{
            display: none;
            align-items: center;
            justify-content: flex-start;
            flex-flow: column wrap;
            width: 90%;
            height: 90%;
        }

            .portfolio_desktop_center_header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 15%;
                padding: 1rem;
                border-top: .2rem solid #fff;
                border-right: .2rem solid #fff;
                border-left: .2rem solid #fff;
            }

                .portfolio_desktop_center_header img{
                    width: 8.5rem;
                    height: 8.5rem;
                    object-fit: cover;
                }

                .portfolio_desktop_center_header h2{
                    font-size: 7rem;
                    color: #fff;
                }

                .portfolio_desktop_center_header i{
                    font-size: 7rem;
                    color: #fff;
                    cursor: pointer;
                }
            
            .portoflio_desktop_center_menu{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row wrap;
                width: 100%;
                height: 85%;
            }

                .portoflio_desktop_center_menu_list{
                    width: 100%;
                    height: 100%;
                    border: .2rem solid #fff;
                    overflow-y: auto;
                    transition: width 1s;
                }

                    .portoflio_desktop_center_menu_list li{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 4rem;
                        color: #fff;
                        border-bottom: .2rem solid #fff;
                        cursor: pointer;
                        margin: 1rem;
                        transition: background-color 1s;
                        padding: 1rem;
                    }

                    .portoflio_desktop_center_menu_list li:hover{
                        background-color: #f76c6c72;
                    }

                    .li-background{
                        background-color: #f76c6c72;
                        transition: background-color 1s;
                    }
                    
                    .portoflio_desktop_center_menu_list i{
                        font-size: 4rem;
                    }
                
                .board_information{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 0;
                    height: 100%;
                    border: 0rem solid #fff;
                    padding: 0rem;
                    transition: width 1s;
                }

                .show-board-information{
                    width: 70%;
                    border-bottom: .2rem solid #fff;
                    border-top: .2rem solid #fff;
                    border-right: .2rem solid #fff;
                    padding: 1rem;
                    transition: width 1s;
                }

                .reduce-width-list{
                    width: 30%;
                    transition: width 1s;
                }

                .portfolio-information-desktop{
                    display: none;
                    align-items: center;
                    justify-content: center;
                    flex-flow: row wrap;
                    height: 100%;
                    width: 100%;
                    overflow-y: auto;
                }

                .show-board-desktop{
                    display: flex;
                }


                .portfolio-item-information-h2{
                    font-size: 7rem;
                    color: #fff;
                    margin-bottom: 1rem;
                    width: 90%;
                    text-align: center;
                }

                .portfolio-item-information-p-cen{
                    color: #fff;
                    font-size: 2.5rem;
                    width: 90%;
                    margin-bottom: 1rem;
                }

                .portfolio-item-information-h3{
                    font-size: 5rem;
                    color: #fff;
                    margin-bottom: 1rem;
                    width: 90%;
                    text-align: center;
                }

                .portfolio-item-information-p{
                    color: #fff;
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                    width: 90%;
                }
                
                iframe{
                    max-width: 90%;
                    height: auto;
                    object-fit: cover;
                    border: none;
                    margin-bottom: 1rem;
                }

                .portfolio-item-information-button{
                    background: none;
                    border: none;
                    width: 90%;
                }
                    .portfolio-item-information-button a{
                        color: #f76c6c;
                        font-size: 5rem;
                        text-decoration: none;
                        transition: color 1s;
                    }

                    .portfolio-item-information-button a:hover{
                        color: #fff;
                        transition: color 1s;
                    }

                    
                ::-webkit-scrollbar{
                    width: 2rem;
                }
                
                ::-webkit-scrollbar-thumb{
                    background: linear-gradient(transparent, #f76c6c);
                    border-radius: .6rem;
                    transition: background 1s;
                
                }
                
                ::-webkit-scrollbar-thumb:hover{
                    background: linear-gradient(transparent, #f76c6c7f);
                    border-radius: .6rem;
                    transition: background 1s;
                }
                
                ::-webkit-scrollbar-track-piece{
                    background-color: #000;
                }

                    .portfolio-information-desktop::-webkit-scrollbar{
                        width: 1rem;
                    }
                    
                    .portfolio-information-desktop::-webkit-scrollbar-thumb{
                        background: linear-gradient(transparent, #f76c6c);
                        border-radius: .6rem;
                        transition: background 1s;
                    
                    }
                    
                    .portfolio-information-desktop::-webkit-scrollbar-thumb:hover{
                        background: linear-gradient(transparent, #f76c6c7f);
                        border-radius: .6rem;
                        transition: background 1s;
                    }
                    
                    .portfolio-information-desktop::-webkit-scrollbar-track-piece{
                        background-color: #fff;
                    }

                    .portoflio_desktop_center_menu_list::-webkit-scrollbar{
                        width: 1rem;
                    }
                    
                    .portoflio_desktop_center_menu_list::-webkit-scrollbar-thumb{
                        background: linear-gradient(transparent, #f76c6c);
                        border-radius: .6rem;
                        transition: background 1s;
                    
                    }
                    
                    .portoflio_desktop_center_menu_list::-webkit-scrollbar-thumb:hover{
                        background: linear-gradient(transparent, #f76c6c7f);
                        border-radius: .6rem;
                        transition: background 1s;
                    }
                    
                    .portoflio_desktop_center_menu_list::-webkit-scrollbar-track-piece{
                        background-color: #fff;
                    }

}



.show-section{
    transform: translateX(0%);
    transition: transform 1s;
}