*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
}

img{
    max-width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background: #5FAD56;
}

    .section_container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80rem;
        width: 100%;
    }

            .section_container form{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                width: 50rem;
                background-color: #F2C14E;
                padding: 1rem;
                margin: 1rem;
                box-shadow: .1rem .1rem .1rem .1rem rgb(0, 0, 0);
            }

                .section_container h2{
                    font-size: 5rem;
                    padding: 1rem;
                    color: #fff;
                }

                #nombre{
                    width: 75%;
                    padding: 1rem;
                    margin: 1rem;
                    font-size: 2rem;
                    outline: none;
                }

                #correo{
                    width: 75%;
                    padding: 1rem;
                    margin: 1rem;
                    font-size: 2rem;
                    outline: none;
                }

                #mensaje{
                    width: 75%;
                    padding: 1rem;
                    margin: 1rem;
                    resize: none;
                    font-size: 2rem;
                    outline: none;
                }

                #btnEnviar{
                    padding: 1rem;
                    margin: 1rem;
                    width: 25%;
                    font-size: 2rem;
                    border: none;
                    background-color: rgba(0,0,0, 0.2);
                    border-radius: 2rem;
                    color: #fff;
                    cursor: pointer;
                }