*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    width: 100vw;
}


.nav_container{
    position: fixed;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    transition: 1s border;
    overflow: hidden;
}
    .nav_container_logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 9rem;
        transition: border 1s;
    }

        .nav_container_logo_img{
            width: 10rem;
            height: 8rem;
        }

        #open{
            display: block;
            font-size: 3rem;
            margin: 2rem;
            color: #fff;
        }

        #close{
            display: none;
            font-size: 3rem;
            margin: 2rem;
            color: #fff;
        }

    .nav_container_nav{
        width: 100%;
        height: 0rem;
        transform: translateY(300%);
        transition: height 1s;
    }

        .nav_container_nav_list{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
        }

            .nav_container_nav_list_item{
                padding: 1rem;
                color: #fff;
            }

            .nav_container_nav_list_item i{
                font-size: 2rem;
            }

            .nav_container_nav_list_item a i{
                color: #fff;
            }

    .show-nav{
        height: 15rem;
        transform: translateY(0%);
    }

    .change-bg-nav{
        background-color: #000;
    }

@media screen and (min-width:1024px){

    .nav_container{
        flex-flow: row nowrap;
        width: 100%;
        height: 10.6rem;
    }
        .nav_container_logo{
            justify-content: center;
            align-items: center;
            height: 10rem;
            width: 30%;
        }
    
            .nav_container_logo_img{
                width: 30rem;
                height: 10rem;
            }
    
            #open{
                display: none;
            }
    
            #close{
                display: none;
            }
    
        .nav_container_nav{
            width: 70%;
            height: 100%;
            transform: translateY(0%);
        }
    
            .nav_container_nav_list{
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                height: 100%;
            }
    
                .nav_container_nav_list_item{
                    padding: 0rem;
                }
    
                .nav_container_nav_list_item i{
                    font-size: 2rem;
                }

    
}

.section_home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url("https://www.wallpapertip.com/wmimgs/91-917056_fondos-de-pantalla-paisajes-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section_home_container_center{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 9rem;
    height: 60rem;
    transition: height 1s;
    overflow: hidden;
}

.section_home_container_title{
    display: flex;
    align-items: center;
    height: 20rem;
}

    .section_home_container_title_h1{
        font-size: 5rem;
        text-align: center;
        color: #fff;
    }

    span {
        border-right: .1rem solid;
        font-size: 5rem;
        animation: caret 1s steps(1) infinite;
      }

    .section_home_container_information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
    }

        .section_home_container_information_img{
            max-width: 80%;
            height: auto;
            object-fit: cover;
            border-bottom: .2rem solid #fff;
        }

        .section_home_container_information_p{
            width: 80%;
            height: 0;
            text-align: justify;
            font-size: 2rem;
            background-color: rgba(0, 0, 0, 0.482);
            padding: 0rem;
            color: #fff;
            transition: height 1s;
        }

        .section_home_container_information_button{
            width: 30%;
            height: 2.5rem;
            border: none;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background: #000;
            border-bottom: .2rem solid #fff;
        }

            .section_home_container_information_button i{
                color: #fff;
                font-size: 1.5rem;
            }


        .section_home_container_redes{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20rem;
            margin: 1rem;
        }

            .section_home_container_redes_list{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-flow: row wrap;
            }

                .section_home_container_redes_list_item a i{
                    font-size: 4rem;
                    padding: 1rem;
                    margin: 1rem;
                    color: #fff;
                }

        .show-section-home-p{
            height: auto;
            padding: 1rem;
        }

        .show-section-home-p-height{
            height: 155vh;
        }

        .no-show-newbutton{
            display: none;
        }

@media screen and (min-width:768px){
    
.section_home_container_title_h1{
    font-size: 7rem;
    text-align: center;
    color: #fff;
}

span{
    font-size: 7rem;
}

.section_home_container_redes{
    width: 100%;
}

.section_home_container_redes_list{
    width: 100%;
}

.section_home_container_redes_list_item a i{
    font-size: 5rem;
}
}

@media screen and (min-width:1024px) {

.section_home_container_center{
    position: relative;
    width: 60%;
    margin-top: 10.6rem;
}

.section_home_container_title{
   height: 25rem;
}

    .section_home_container_title_h1{
        font-size: 10rem;
        text-align: center;
        color: #fff;
    }

    span{
        font-size: 10rem;
    }
    
    .section_home_container_center{
        height: 110vh;
    }

    .section_home_container_information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
    }

        .section_home_container_information_img{
            max-width: 75%;
            height: auto;
            object-fit: cover;
            border-bottom: 0;
        }

        .section_home_container_information_p{
            opacity: 0;
            width: 50%;
            padding: 1rem;
            position: absolute;
            height: auto;
            transition: opacity 1s;
        }

        .section_home_container_information_button{
            position: absolute;
            width: 15rem;
            height: 5rem;
            font-size: 2rem;
            color: #fff;
            border: none;
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
            background: rgba(0, 0, 0, 0.800);
            border-bottom: 0;
            cursor: pointer;
        }

        .section_home_container_information_button:hover{
            background: rgba(0, 0, 0, 0.300);
            border-bottom: .1rem solid #fff;
        }

            .section_home_container_information_button i{
                color: #fff;
                font-size: 1.5rem;
            }

        .section_home_container_redes{
            width: 100%;
        }

        .section_home_container_redes_list{
            width: 100%;
        }

        .section_home_container_redes_list_item a i:hover{
            color: #3c4894;
        }

        .blur-img{
            filter:blur(2px);
        }

        .show-section-home-p-H{
            opacity: 1;
        }

        .show-section-home-btn{
            opacity: 0;
        }

}

@keyframes caret {
50% {
border-color: transparent;
}
}


.section_aboutme_container{
    width: 100%;
    height: 75rem;
}

    .section_aboutme_container_title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15rem;
    }

        .section_aboutme_container_title_h2{
            font-size: 5rem;
        }

    .span{
        color: #3c4894;
    }

    .section_aboutme_container_mobile{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 60rem;
        background-color: #3c4894;
        transition: height 1s;
    }

        .section_aboutme_container_mobile_present{
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            background-color: #3c4894;
            width: 100%;
            height: 60rem;
        }

            .section_aboutme_container_mobile_present_img{
                object-fit: contain;
                height: 50%;
                width: 80%;
            }

            .section_aboutme_container_mobile_present_p{
                text-align: justify;
                color: #fff;
                padding: .5rem;
                width: 80%;
                font-size: 2rem;
            }

            .section_aboutme_container_mobile_present_button{
                color: #fff;
                background: none;
                border: none;
                font-size: 1.5rem;
            }

            .section_aboutme_container_mobile_present_button i{
                font-size: 1rem;
            }

    .section_aboutme_container_mobile_learnmore{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column nowrap;
        width: 100%;
        height: 0;
        background-color: #3c4894;
    }

        .section_aboutme_container_mobile_profile{
            width: 80%;
            transition: height 1s;
            overflow: hidden;
        }

            .section_aboutme_container_mobile_profile_title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ffffff;
                height: 5rem;
            }

                .section_aboutme_container_mobile_profile_title_h2{
                    color: rgb(0, 0, 0);
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_profile_title_button{
                    color: rgb(0, 0, 0);
                    background: none;
                    border: none;
                }

                .section_aboutme_container_mobile_profile_title_button i{
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_profile_text_div{
                    height: 0;
                    background-color: #ffffff;
                }

                .section_aboutme_container_mobile_profile_text_div_p{
                    width: 100%;
                    text-align: justify;
                    padding: 1rem;
                    font-size: 2rem;
                }

        .section_aboutme_container_mobile_education{
            width: 80%;
            margin-top: 1rem;
            transition: height 1s;
            overflow: hidden;
        }

            .section_aboutme_container_mobile_education_title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ffffff;
                height: 5rem;
            }

                .section_aboutme_container_mobile_education_title_h2{
                    color: rgb(0, 0, 0);
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_education_title_button{
                    color: rgb(0, 0, 0);
                    background: none;
                    border: none;
                }

                .section_aboutme_container_mobile_education_title_button i{
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_education_text_div{
                    background-color: #ffffff;
                    height: 0;
                }

                .section_aboutme_container_mobile_education_text_div_h3{
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_education_text_div_p{
                    font-size: 2rem;
                    padding: 1rem;
                }

        .section_aboutme_container_mobile_skills{
            width: 80%;
            margin-top: 1rem;
            transition: height 1s;
            overflow: hidden;
        }

            .section_aboutme_container_mobile_skills_title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ffffff;
                height: 5rem;
            }

                .section_aboutme_container_mobile_skills_title_h2{
                    color: rgb(0, 0, 0);
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_skills_title_button{
                    color: rgb(0, 0, 0);
                    background: none;
                    border: none;
                }

                .section_aboutme_container_mobile_skills_title_button i{
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_skills_text_div{
                    background-color: #ffffff;
                    height: 0;
                }

                .section_aboutme_container_mobile_skills_text_div_h3{
                    font-size: 2rem;
                    padding: 1rem;
                }

                .section_aboutme_container_mobile_skills_text_div_p{
                    font-size: 2rem;
                    padding: 1rem;
                }

        .section_aboutme_container_mobile_certificates{
            width: 80%;
            margin: 1rem;
            transition: height 1s;
            overflow: hidden;
        }

        .section_aboutme_container_mobile_certificates_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            height: 5rem;
        }

            .section_aboutme_container_mobile_certificates_title_h2{
                color: rgb(0, 0, 0);
                font-size: 2rem;
                padding: 1rem;
            }

            .section_aboutme_container_mobile_certificates_title_button{
                color: rgb(0, 0, 0);
                background: none;
                border: none;
            }

            .section_aboutme_container_mobile_certificates_title_button i{
                font-size: 2rem;
                padding: 1rem;
            }

            .section_aboutme_container_mobile_certificates_text_div{
                height: 0;
                background-color: #ffffff;
            }

            .section_aboutme_container_mobile_certificates_text_div_h3{
                font-size: 2rem;
                padding: 1rem;
            }

            .section_aboutme_container_mobile_certificates_text_div_p{
                font-size: 2rem;
                padding: 1rem;
            }

@media screen and (min-width:768px) {
    .section_aboutme_container_title_h2{
        font-size: 10rem;
    }

    .span{
        font-size: 10rem;
    }

    .section_aboutme_container_mobile_present_img{
        width: 40%;
        object-fit: contain;
    }

    .section_aboutme_container_mobile_present_p{
        width: 40%;
    }
}


@media screen and (min-width:1024px) {
    .section_aboutme_container{
        display: none;
    }
}


.section_portfolio_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90rem;
}

    .section_portfolio_container_title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15rem;
    }

    .span{
        color: #3c4894;
    }
        .section_portfolio_container_title_h2{
            text-align: center;
            font-size: 5rem;
        }

    .section_portfolio_container_projects{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        width: 80%;
        height: 75rem;
        padding: 1rem;
    }

        .section_portfolio_container_projects_python{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: column nowrap;
            background: url("python.png");
            background-repeat: no-repeat;
            background-size: 15rem;
            background-position: center;
            height: 35rem;
            width: 100%;
            background-color: #3c4894;
        }

            .section_portfolio_container_projects_python_h3{
                font-size: 3rem;
                color: #fff;
                padding: 2rem;
            }

                .section_portfolio_container_projects_python_div{
                }

                    .section_portfolio_container_projects_python_div_button{
                        padding: 2rem;
                        text-align: center;
                        font-size: 1.5rem;
                        background:none;
                        border: none;
                        color: #fff;
                    }

                    .section_portfolio_container_projects_python_div_button i{
                        font-size: 1.5rem;
                    }

        .section_portfolio_container_projects_js{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: column nowrap;
            background: url("javascript.png");
            background-repeat: no-repeat;
            background-size: 30rem;
            background-position: center;
            height: 35rem;
            width: 100%;
            background-color: #3c4894;
        }

            .section_portfolio_container_projects_js_h3{
                font-size: 3rem;
                color: #fff;
                padding: 2rem;
            }

                .section_portfolio_container_projects_js_div{
                }

                    .section_portfolio_container_projects_js_div_button{
                        padding: 2rem;
                        text-align: center;
                        font-size: 1.5rem;
                        border: none;
                        background: none;
                        color: #fff;
                    }

                    .section_portfolio_container_projects_js_div_button i{
                        font-size: 1.5rem;
                    }

        .section_portfolio_container_projects_python_open{
            background: #3c4894;
            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80%;
            padding: 1rem;
            opacity: 0;
            transition: opacity 1s;
        }

            .section_portfolio_container_projects_python_open_title{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 10rem;
                padding: 1rem;
            }

                .section_portfolio_container_projects_python_open_title_img{
                    height: 100%;
                }

                .section_portfolio_container_projects_python_open_title_h2{
                    font-size: 3rem;
                    color: #fff
                }

                .section_portfolio_container_projects_python_open_title_button{
                    height: 60%;
                    width: 10%;
                    border: none;
                    color: #fff;
                    background: none;
                }

                .section_portfolio_container_projects_python_open_title_button i{
                    font-size: 2rem;
                }

            .section_portfolio_container_projects_python_open_div{
                display: flex;
                margin: 1rem;
                justify-content: center;
                width: 90%;
                height: 90%;
            }

            .section_portfolio_container_projects_python_open_div_list{
                width: 100%;
            }
            
            .section_portfolio_container_projects_python_open_div_list_item_div{
                border-bottom: .2rem solid #000;
                margin: .5rem;
            }

                .section_portfolio_container_projects_python_open_div_list_item_div_h3{
                    font-size: 3rem;
                    padding: .5rem;
                    text-align: center;
                }

                .section_portfolio_container_projects_python_open_div_list_item_div_p{
                    font-size: 2rem;
                    padding: .5rem;
                }

                .section_portfolio_container_projects_js_open{
                    background: #3c4894;
                    display: none;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    height: 80%;
                    padding: 1rem;
                    opacity: 0;
                    transition: opacity 1s;
                }
        
                    .section_portfolio_container_projects_js_open_title{
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 10rem;
                        padding: 1rem;
                    }
        
                        .section_portfolio_container_projects_js_open_title_img{
                            height: 100%;
                            width: 25%;
                        }
        
                        .section_portfolio_container_projects_js_open_title_h2{
                            font-size: 3rem;
                            color: #fff;
                        }
        
                        .section_portfolio_container_projects_js_open_title_button{
                            width: 20%;
                            height: 100%;
                            border: none;
                            background: none;
                            color: #fff;
                        }
        
                        .section_portfolio_container_projects_js_open_title_button i{
                            font-size: 2rem;
                        }
        
                    .section_portfolio_container_projects_js_open_div{
                        display: flex;
                        margin: 1rem;
                        justify-content: center;
                        width: 90%;
                        height: 90%;
                    }
        
                    .section_portfolio_container_projects_js_open_div_list{
                        width: 100%;
                    }
                    
                    .section_portfolio_container_projects_js_open_div_list_item_div{
                        border-bottom: .2rem solid #000;
                        margin: .5rem;
                    }
        
                        .section_portfolio_container_projects_js_open_div_list_item_div_h3{
                            font-size: 3rem;
                            padding: .5rem;
                            text-align: center;
                        }
        
                        .section_portfolio_container_projects_js_open_div_list_item_div_p{
                            font-size: 2rem;
                            padding: .5rem;
                        }

                        .vanish{
                            display: none;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
                            padding: 1rem;
                        }

                        .section_portfolio_container_projects_python_open_div_list_item_div_h3{
                            color: #fff;
                        }

                        .section_portfolio_container_projects_python_open_div_list_item_div_p{
                            text-align: center;
                            color: #fff;
                        }

                        .section_portfolio_container_projects_js_open_div_list_item_div_h3{
                            color: #fff;
                        }

                        .section_portfolio_container_projects_js_open_div_list_item_div_p{
                            text-align: center;
                        }

        .section_portfolio_container_projects_Hpython{
            display: none;
        }

        .section_portfolio_container_projects_Hjs{
            display: none;
        }

        .show-border{
            border-bottom: .2rem solid #000;
        }

        .no-show-projects-container{
            display: none;
        }

        .show-display-projects{
            display: flex;
        }

        .show-display-p{
            display: flex;
        }

@media screen and (min-width:768px){
    .section_portfolio_container_title_h2{
        font-size: 10rem;
    }

    .section_portfolio_container_projects_python_h3{
        font-size: 5rem;
    }

    .section_portfolio_container_projects_js_h3{
        font-size: 5rem;
    }

    .section_portfolio_container_projects_python_div_button{
        font-size: 3rem;
    }

    .section_portfolio_container_projects_js_div_button{
        font-size: 3rem;
    }

    .section_portfolio_container_projects_python{
        width: 70%;
    }

    .section_portfolio_container_projects_js{
        width: 70%;
    }

    .section_portfolio_container_projects{
        align-items: center;
    }
}

@media screen and (min-width: 1024px){

    .section_portfolio_container{
        height: 100rem;
    }

    .section_portfolio_container_projects{
        height: 75rem;
        width: 70%;
        flex-flow: row wrap;
    }

    .section_portfolio_container_projects_python{
        width: 45%;
        flex-flow: column wrap;
        justify-content: space-between;
        margin: 1rem;
    }


    .section_portfolio_container_projects_js{
        width: 45%;
        flex-flow: column wrap;
        justify-content: space-between;
        margin: 1rem;
    }



    .section_portfolio_container_projects_python_div_button{
        cursor:pointer;
    }

    .section_portfolio_container_projects_python_div_button i{
        font-size: 2rem;
    }

    .section_portfolio_container_projects_js_div_button{
        cursor:pointer;
    }

    .section_portfolio_container_projects_js_div_button i{
        font-size: 2rem;
    }

    .section_portfolio_container_projects_Hpython{
        display: none;
        height: 75rem;
        background-color: #3c4894;
        width: 70%;
        flex-flow: column nowrap;
        opacity: 0;
        transition: opacity 1s;
    }

        .section_portfolio_container_projects_Hpython_title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 7.5rem;
            padding: 1rem;
            background: #3c4894;
        }

        .section_portfolio_container_projects_Hpython_title_h2{
            font-size: 3rem;
            color: #fff;
        }

        .section_portfolio_container_projects_Hpython_title_button{
            background: none;
            border: none;
            color: #fff;
        }

        .section_portfolio_container_projects_Hpython_title_button i{
            font-size: 3rem;
            cursor: pointer;
        }

        .section_portfolio_container_projects_Hpython_title_img{
            height: 100%;
        }
        .section_portfolio_container_projects_Hpython_description{
            display: flex;
            height: 67.5rem;
            width: 100%;
        }

        .section_portfolio_container_projects_Hpython_description_container{
            width: 30%;
            background: #3c4894;
        }

        .section_portfolio_container_projects_Hpython_description_container_two{
            width: 70%;
            background: #ffffff;
            border-bottom: .2rem solid #000;
            border-right: .2rem solid #000;
        }

        .section_portfolio_container_projects_Hpython_description_container_list_item{
            border-bottom: .2rem solid #000;
            font-size: 3rem;
            color: #fff;
            text-align: center;
            margin-bottom: 1rem;
        }

        .section_portfolio_container_projects_Hpython_description_container_two_item{
            display: none;
            flex-flow: column wrap;
            justify-content: center;
            padding: 1rem;
        }

        .section_portfolio_container_projects_Hpython_description_container_two_item_h2{
            align-self: center;
            font-size: 4rem;
            color: rgb(0, 0, 0);
            margin: 1rem;
        }

        .section_portfolio_container_projects_Hpython_description_container_two_item_h3{
            color: rgb(0, 0, 0);
            align-self: center;
            font-size: 3rem;
            margin: 1rem;
        }

        .section_portfolio_container_projects_Hpython_description_container_two_item_p{
            font-size: 2rem;
            margin: 1rem;
        }

        
        .section_portfolio_container_projects_Hpython_description_container_two_item_img{
            font-size: 2rem;
            margin: 1rem;
            align-self: center;
        }

        .section_portfolio_container_projects_Hpython_description_container_two_item_p_cen{
            text-align: center;
            font-size: 2rem;
            margin: 1rem;
        }



        .section_portfolio_container_projects_Hjs{
            display: none;
            height: 75rem;
            background-color: #3c4894;
            width: 70%;
            flex-flow: column nowrap;
            opacity: 0;
            transition: opacity 1s;
        }
    
            .section_portfolio_container_projects_Hjs_title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 7.5rem;
                padding: 1rem;
                background: #3c4894;
            }
    
            .section_portfolio_container_projects_Hjs_title_h2{
                font-size: 3rem;
                color: #fff;
            }
    
            .section_portfolio_container_projects_Hjs_title_button{
                background: none;
                border: none;
                color: #fff;
            }
    
            .section_portfolio_container_projects_Hjs_title_button i{
                font-size: 3rem;
                cursor: pointer;
            }
    
            .section_portfolio_container_projects_Hjs_title_img{
                height: 100%;
            }
            .section_portfolio_container_projects_Hjs_description{
                display: flex;
                height: 67.5rem;
                width: 100%;
            }
    
            .section_portfolio_container_projects_Hjs_description_container{
                width: 30%;
                background: #3c4894;
            }
    
            .section_portfolio_container_projects_Hjs_description_container_two{
                width: 70%;
                background: #ffffff;
                border-bottom: .2rem solid #000;
                border-right: .2rem solid #000;
            }
    
            .section_portfolio_container_projects_Hjs_description_container_list_item{
                border-bottom: .2rem solid #000;
                font-size: 3rem;
                color: #fff;
                text-align: center;
                margin-bottom: 1rem;
            }
    
            .section_portfolio_container_projects_Hjs_description_container_two_item{
                display: none;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                padding: 1rem;
            }
    
            .section_portfolio_container_projects_Hjs_description_container_two_item_h2{
                font-size: 4rem;
                color: rgb(0, 0, 0);
                margin: 1rem;
            }
    
            .section_portfolio_container_projects_Hjs_description_container_two_item_h3{
                color: rgb(0, 0, 0);
                font-size: 3rem;
                margin: 1rem;
            }
    
            .section_portfolio_container_projects_Hjs_description_container_two_item_p{
                font-size: 2rem;
                margin: 1rem;
            }

            .section_portfolio_container_projects_Hpython_description_container_two_item_button{
                background: #3c4894;
                margin-top: 3rem;
                border: none;
                cursor: pointer;
                height: 6.2rem;
            }

                .section_portfolio_container_projects_Hpython_description_container_two_item_button a{
                    font-size: 3rem;
                    padding: 1rem;
                    text-decoration: none;
                    color: #fff;
                }

                .section_portfolio_container_projects_Hpython_description_container_two_item_button a:hover{
                    border-bottom: .2rem solid rgb(0, 0, 0);
                }

        ::-webkit-scrollbar{
            width: 2rem;
        }

        ::-webkit-scrollbar-thumb{
            background: linear-gradient(transparent, #5261c4);
            border-radius: .6rem;
        }

        ::-webkit-scrollbar-thumb:hover{
            background: linear-gradient(transparent, #5261c4ca);
            border-radius: .6rem;
        }

        .active{
            background: #5261c4;
        }

        .show{
            display: flex;
        }

}