*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
}

img{
    max-width: 100%;
}

body{
height: 100vh;
width: 100vw;
background-color: rgb(65, 85, 84);
}

section{
max-width: 75rem;
max-height: 50rem;
background-color: aqua;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
}

.section-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    .title h2{
        font-size: 3rem;
        padding: 1rem;
        letter-spacing: .5rem;
        text-align: center;
    }

    .question{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        background-color: bisque;
        margin: 1rem;
        width: 90%;
    }

        .question-title{
            display: flex;
            flex-direction: row wrap;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            background-color: rgb(195, 0, 255);
            margin: 1rem;
        }


            .question-title p{
                font-size: 3rem;
            }

            .question-btn{
                font-size: 1.5rem;
            }

        .question-text{
            display: none;
            width: 80%;
            align-self: center;
        }
            .question-text p{
                padding: 1rem;
                margin-bottom: 1rem;
                margin-left: 3rem;
                margin-right: 3rem;
                text-align: justify;
            }

        .show-text .question-text{
            display: block;
        }