*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow: auto;
}

main{
    margin-top: 7rem;
}
    
    .filter_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
        max-height: 100rem;
        margin-top: 2rem;
    }

        .filter_container_article{
            width: 90%;
            max-height: 100rem;
            border-bottom: .1rem solid #000;
        }

            .filter_container_article h3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 7rem;
                font-size: 3rem;
                padding: 1rem;
            }

                .filter_container_article h3 i{
                    font-size: 2rem;
                }

            .filter_container_article_list{
                display: none;
                align-items: center;
                justify-content: center;
                flex-flow: column wrap;
                max-height: 0;
                opacity: 0;
                width: 100%;
                transition: max-height 1s, opacity 1s;
                overflow: hidden;
            }

                .filter_container_article_list_search{
                    display: flex;
                    align-items: flex-start;
                    flex-flow: row wrap;
                    width: 100%;
                    max-height: 50rem;
                    margin-top: 2rem;
                }

                    .filter_container_article_list_search input{
                        width: 50%;
                        height: 3rem;
                        font-size: 1.5rem;
                        outline: none;
                        border: .1rem solid #000;
                        padding: .5rem;
                    }

                    .filter_container_article_list_search button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20%;
                        height: 3rem;
                        border: .1rem solid #000;
                        background: #000;
                        color: #fff;
                    }

                        .filter_container_article_list_search button i{
                            font-size: 1.5rem;
                        }

                .filter_container_article_list_categories{
                    display: flex;
                    align-items: flex-start;
                    flex-flow: column wrap;
                    margin-top: 3rem;
                    width: 100%;
                    max-height: 50rem; 
                }

                    .filter_container_article_list_categories h4{
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    .filter_container_article_list_categories a{
                        text-decoration: none;
                        font-size: 1.5rem;
                        margin-bottom: 1.5rem;
                        color: #000;
                        padding-left: .5rem;
                    }

            .showFilter{
                max-height: 100rem;
                opacity: 1;
                transition: max-height 1s, opacity 1s;
            }

@media only screen and (min-width:768px){

    .filter_container_article h3{
        font-size: 4rem;
    }

        .filter_container_article h3 i{
            font-size: 2.5rem;
        }

    .filter_container_article_list_search input{
        height: 5rem;
        font-size: 3rem;
    }

    .filter_container_article_list_search button{
        height: 5rem;
    }

        .filter_container_article_list_search button i{
            font-size: 3rem;
        }

        .filter_container_article_list_categories h4{
            font-size: 4rem;
        }

        .filter_container_article_list_categories a{
            font-size: 2.5rem;
        }
}

@media only screen and (min-width:1024px) {
    
    main{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: row wrap;
    }

    .filter_container{
        width: 25%;
        order: 4;
    }

    .filter_container_article h3{
        height: 4rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .filter_container_article h3:hover{
        color:#fff;
        background: #000;
        transition: color 1s, background 1s;
    }

        .filter_container_article h3 i{
            font-size: 1.5rem;
        }

    .filter_container_article_list_search input{
        height: 3rem;
        font-size: 1.5rem;
    }

    .filter_container_article_list_search button{
        height: 3rem;
    }

        .filter_container_article_list_search button i{
            font-size: 1.5rem;        
        }

        .filter_container_article_list_categories h4{
            font-size: 2rem;
        }

        .filter_container_article_list_categories a{
            font-size: 1.5rem;
        }

}