*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav_container{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 7rem;
    box-shadow: 0rem .4rem .8rem -.8rem rgb(0, 0, 0);
    position: fixed;
    z-index: 99994;
    background-color: rgb(255, 255, 255);
    top: 0;
}

    .nav_container_header{
        display: flex;
        align-items: center;
        width: 100%;
        height: 7rem;
    }

        .nav_container_header i{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            width: 15%;
        }

        .nav_container_header-h2{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;           
        }

            .nav_container_header-h2-a{         
                font-size: 3rem; 
                text-decoration: none;
                color: #000; 
            }

    .nav_container_principal{
        width: 100%;
    }

    .nav_container_principal_list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
        box-shadow: 0rem .4rem .8rem -.8rem rgb(0, 0, 0);
        background-color: #fff;
    }

    .openNav{
        max-height: 100rem;
        padding-bottom: 1rem;
        transition: max-height 2s;
    }

        .nav_container_list_item{
            width: 80%;
            height: auto;
            border-bottom: .1rem solid #000;
            padding: 1rem;
        }

            .nav_container_list_item_div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
            
                .item-title{
                    font-size: 2rem;
                    position: relative;
                }

                .downArrow{
                    display: block;
                    font-size: 2rem;
                }

                .upArrow{
                    display: block;
                    font-size: 2rem;
                }

            .nav_container_list_item_sections{
                display: flex;
                align-items: flex-start;
                flex-flow: row wrap;
                width: 100%;
                max-height: 0;
                overflow: hidden;
                transition: max-height .5s;
            }

            .openSubMenu{
                max-height: 100rem;
                padding: 1rem;
                transition: max-height 2s;
            }

                .nav_container_list_item_sections a{
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: #000;
                    width: 100%;
                    border-bottom: .1rem solid #000;
                    margin-bottom: .5rem;
                }

            .externalI{
                display: none;
            }

@media only screen and (min-width:768px){

    .nav_container_header i{
        font-size: 2.5rem;
    }

    .nav_container_header h2{
        font-size: 4rem;            
    }

    .nav_container_list_item_div h3{
        font-size: 2rem;
    }

    .downArrow{
        font-size: 3rem;
    }

    .upArrow{
        font-size: 3rem;
    }

    .nav_container_list_item_sections a{
        font-size: 2.5rem;
    }

}

@media only screen and (min-width:1024px){

    .nav_container{
        flex-flow: row wrap;
        border-bottom: 0rem solid #000;
        background: #fff;
        box-shadow: 0rem .4rem .8rem -.8rem rgb(0, 0, 0);
        transition: background 0s;
    }
    
        .nav_container_header{
            display: flex;
            align-items: center;
            width: 20%;
            height: 7rem;
        }
    
            .nav_container_header i{
                display: none;
                color: #fff;
            }

            .show{
                display: block;
                color: #fff;
            }
    
            .nav_container_header-h2{
                width: 100%;     
            }

                .nav_container_header-h2-a{
                    font-size: 4rem;  
                    color:#000;
                    transition: color 1s;       
                }
    
        .nav_container_principal{
            width: calc(80% - 5rem);
        }

        .nav_container_principal_list{
            justify-content: flex-end;
            width: 100%;
            margin: 0;
            padding: 0;
            height: 7rem;
            max-height: 7rem;
            overflow: visible;
            transition: max-height 0s;
            margin-right: 5rem;
            border-bottom: 0rem solid #000;
            box-shadow: 0rem 0rem 0rem 0rem rgb(0, 0, 0);
            background: transparent;
        }
    
            .nav_container_list_item{
                width: 15rem;
                height: 7rem;
                border-bottom: 0;
                padding: 0rem;
            }
    
                .nav_container_list_item_div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                }
                
                    .item-title{
                        font-size: 2rem;
                        color:#000;
                        transition: color 1s;
                    }

                    .item-title::after{
                        content: "";
                        position: absolute;
                        height: 0.175rem;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        border-bottom: .3rem solid rgb(0, 0, 0);
                        transform: scale(0, 1);
                        transition: transform .3s ease;
                    }
    
                    .item-title:hover::after{
                        transform: scale(1, 1);
                    }
    
                    .downArrow{
                        display: none;
                    }
    
                    .upArrow{
                        display: none;
                    }
    
                .nav_container_list_item_sections{
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    position: absolute;
                    left: 0;
                    text-align: center;
                    padding: 0;
                    max-height: 0;
                    border-bottom: 0rem solid #000;
                    box-shadow: 0rem .4rem .8rem -.8rem rgb(0, 0, 0);
                    background: #fff;
                    transition: max-height 1s;
                }
    
                .openSubMenu{
                    max-height: 100rem;
                    transition: max-height 2s;
                    padding: 1rem;
                }
    
                    .nav_container_list_item_sections a{
                        width: 30rem;
                        font-size: 2rem;
                        text-align: start;
                        padding-left: .5rem;
                        margin-left: 10rem;
                        transition: background .5s, color .5s, padding-bottom .5s;
                    }

                    .nav_container_list_item_sections a:hover{
                        background: #888;
                        color: #fff;
                        padding-bottom: .5rem;
                        transition: background .5s, color .5s, padding-bottom .5s;
                    }

        .externalI{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            width: 5rem;
            cursor: pointer;
            color:#000;
            height: 7rem;
            transition: color 1s;
        }

        .changeColors{
            color:#000;
            transition: color 1s;
        }

        .changeBackground{
            background-color: #fff;
            transition: background 1s;
        }

        .changeUnderline::after{
            border-bottom: .3rem solid rgb(0, 0, 0);
        }


}