*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow: auto;
}

main{
    margin-top: 7rem;
}

    .pagination_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
        height: 20rem;
    }

        .pagination_container_pages{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
            height: 10rem;
        }

            .pagination_container_pages button{
                border: .1rem solid #000;
                background: #fff;
                color: #000;
                font-size: 1.5rem;
                padding: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }

    .pagination_container_showall{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10rem;
    }

        .pagination_container_showall button{
            font-size: 1.5rem;
            border: .1rem solid #000;
            background: #fff;
            padding: 1rem;
        }

@media only screen and (min-width:768px) {

    .pagination_container_pages button{
        font-size: 2rem;
    }

        .pagination_container_showall button{
            font-size: 2rem;
        }
}

@media only screen and (min-width:1024px) {

    .pagination_container{
        order: 5;
    }

}