*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.product_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
    max-height: 200rem;
    margin-top: 2rem;
}

    .product_container_article_img{
        width: 90%;
        height: 30rem;
    }

        .product_container_article_img img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .product_container_article_information{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: column wrap;
        width: 90%;
        max-height: 200rem;
    }

        .product_container_article_information_header{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            width: 100%;
            max-height: 200rem;
            margin-top: 2rem;
        }

            .product_container_article_information_header h3{
                font-size: 2.5rem;
                text-align: center;
            }

            .product_container_article_information_header p{
                text-align: center;
                font-size: 2rem;
            }

        .product_container_article_information p{
            width: 90%;
            font-size: 2rem;
            margin-top: 2rem;
        }

        .product_container_article_information button{
            padding: 1rem;
            background: #000;
            border: .1rem solid #000;
            color: #fff;
            font-size: 1.5rem;
            margin-top: 2rem;
        }

        .product_container_article_information_base{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: row wrap;
            width: 90%;
            height: 10rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .product_container_article_information_base p{
            font-size: 1.5rem;
        }

@media only screen and (min-width:768px){

    .product_container_article_img{
        width: 50%;
    }

    .product_container_article_information button{
        font-size: 2rem;
    }
}

@media only screen and (min-width:1024px){


    .product_container{
        flex-flow: row wrap;
    }
    
        .product_container_article_img{
            width: 50rem;
            height: 50rem;
            padding: 1rem;
        }
    
        .product_container_article_information{
            align-items: flex-start;
            width: 50%;
        }
    
            .product_container_article_information_header{
                align-items: flex-start;
            }
    
                .product_container_article_information_header p{
                    text-align: start;
                }
    
            .product_container_article_information p{
                width: 90%;
                font-size: 2rem;
            }
    
            .product_container_article_information button{
                transition: background 1s, color 1s;
                cursor: pointer;
            }

            .product_container_article_information button:hover{
                background: #fff;
                color: #000;
                transition: background 1s, color 1s;
            }
    
            .product_container_article_information_base{
                align-items: flex-start;
            }

    

}