*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}



body{
height: 100vh;
width: 100vw;
overflow-x: hidden;

}


.nav_container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 10rem;
    background: #313552;
}

    .nav_container_logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 10rem;
    }

        .nav_container_logo img{
            width: 7rem;
            height: 7rem;
        }

    .nav_container_sections{
        display: flex;
        align-items: center;
        width: 70%;
        height: 10rem;
    }

        .nav_container_sections_list{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
        }

            .nav_container_sections_list li a{
                font-size: 2rem;
                text-decoration: none;
                color: #fff;
            }


.section_home{
    width: 100%;
    height: 100vh;
    background: url("https://images.alphacoders.com/119/thumb-1920-1190297.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

    .section_home h1{
        text-align: center;
        color: #ffF;
        font-size: 7rem;
        margin-bottom: 1rem;
    }

    .section_home p{
        text-align: justify;
        color: #ffF;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .section_home button{
        padding: 1rem;
        border: .2rem solid #313552;
        background: none;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
    }

.section_aboutus{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

    .section_aboutus h2{
        font-size: 5rem;
    }

.section_contactus{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border-top:.1rem solid #313552;
}

    .section_contactus h2{
        font-size: 5rem;
    }

.section_tours{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border-top:.1rem solid #313552;
}

    .section_tours h2{
        font-size: 5rem;
    }