*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
}

img{
    max-width: 100%;
}

body{
height: 100vh;
width: 100vw;
}

.imagenes{
    display: flex;
    flex-flow: column wrap;
    width: 120px;
    height: 120px;
}

    .buttons{
        background-color: aqua;
        width: 100%;
        height: 100%;
    }

        .buttons img{
            opacity: 0;
        }