*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.home_container{
    margin-top: 7rem;
    width: 100%;
    height: 60rem;
}

    .home_imgs_container{
        position: relative;
        height: 60rem;
        width: 100%;
    }

        .home_img_container{
            display: flex;
            flex-flow: column wrap;
            position: absolute;
            width: 100%;
            height: 60rem;
            opacity: 0;
            transition: opacity 1s;
            overflow: hidden;
        }

            .home_img_container img{
                position: relative;
                height: 60rem;
                width: 100%;
                object-fit: cover;
                filter: blur(2.5px);
                transform: scale(1.1);
            }

            .home_img_container_text{
                display: flex;
                align-items: center;
                flex-flow: column wrap;
                justify-content: center;
                position: absolute;
                height: 60rem;
                width: 100%;
                color: #fff;
                opacity: 0;
            }

                .home_img_container_text h2{
                    font-size: 4rem;
                    margin-bottom: 1rem;
                    text-align: center;
                }

                .home_img_container_text p{
                    text-align: center;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                .home_img_container_text button{
                    position: relative;
                    z-index: 450;
                    font-size: 2rem;
                    background: none;
                    border: .1rem solid #fff;
                    color: #fff;
                    padding: 1rem;
                    cursor: pointer;
                }

                    .home_img_container_text button i{
                        font-size: 1.5rem;
                    }

        .show{
            opacity: 1;
            transition: opacity 1s;
        }

        .showText{
            opacity: 1;
            transition: opacity 2s;
        }

        .home_btns_container{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            height: 10rem;
            width: 100%;
        }

            .btnHomeImg{
                height: 1rem;
                border: .1rem solid #000;
                background: #fff;
                margin: 1rem;
                width: 4rem;
            }

            .colorBtn{
                background: #000;
            }

@media only screen and (min-width:768px){


    .home_container{
        height: 100rem;
    }
    
        .home_imgs_container{
            height: 100rem;
        }
    
            .home_img_container{
                height: 100rem;
            }
    
                .home_img_container img{
                    height: 100rem;
                    filter: blur(0px);
                    transform: scale(1.0);
                }
    
                .home_img_container_text{
                    height: 80rem;
                    width: 80%;
                }
    
                    .home_img_container_text h2{
                        font-size: 6rem;
                        align-self: flex-start;
                        text-align: start;
                    }
    
                    .home_img_container_text p{
                        font-size: 4rem;
                        align-self: flex-start;
                        text-align: start;
                    }
    
                    .home_img_container_text button{
                        font-size: 3rem;
                        align-self: flex-start;
                        text-align: start;
                    }
    
                        .home_img_container_text button i{
                            font-size: 2rem;
                        }
                
                .electronics{
                    height: 100%;
                    width: 80%;
                    justify-content: flex-start;
                    margin-top: 10rem;
                    margin-left: 5rem;
                }
                
                .jewellery{
                    height: 70rem;
                    width: 80%;
                    justify-content: flex-end;
                    margin-top: 10rem;
                    margin-left: 5rem;
                }

                .menc{
                    height: 70rem;
                    width: 80%;
                    justify-content: flex-start;
                    margin-top: 8rem;
                    margin-left: 10rem;
                }

                .womanc{
                    height: 70rem;
                    width: 80%;
                    justify-content: flex-end;
                    margin-top: 4rem;
                    margin-left: 5rem;
                }
    
            .show{
                opacity: 1;
                transition: opacity 1s;
            }
    
            .home_btns_container{
                height: 20rem;
            }

}

@media only screen and (min-width:1024px){

    .home_container{
        margin-top: 0rem;
        height: 80rem;
    }
    
        .home_imgs_container{
            height: 80rem;
        }
    
            .home_img_container{
                height: 80rem;
            }
    
                .home_img_container img{
                    height: 80rem;
                }
    
                .home_img_container_text{
                    height: 80rem;
                    width: 80%;
                }

            .electronics{
                height: 60rem;
                width: 60%;
            }

            .jewellery{
                height: 60rem;
                width: 60%;
            }

            .menc{
                height: 60rem;
                width: 60%;
                justify-content: flex-end;
                margin-left: 10rem;
            }

            .womanc{
                height: 60rem;
                width: 60%;
                justify-content: flex-end;
                margin-top: 6rem;
            }

}

@media only screen and (min-width:1600px){

    .home_container{
        margin-top: 0rem;
        height: 95rem;
    }
    
        .home_imgs_container{
            height: 95rem;
        }
    
            .home_img_container{
                height: 95rem;
            }
    
                .home_img_container img{
                    height: 95rem;
                }
    
                .home_img_container_text{
                    height: 95rem;
                    width: 80%;
                }

            .electronics{
                height: 70rem;
                width: 40%;
            }

            .jewellery{
                height: 70rem;
                width: 40%;
            }

            .menc{
                height: 70rem;
                width: 40%;
                justify-content: flex-end;
                margin-left: 10rem;
            }

            .womanc{
                height: 70rem;
                width: 40%;
                justify-content: center;
                margin-top: 6rem;
            }

            .home_img_container_text button{
                transition: background 1s;
            }

            .home_img_container_text button:hover{
                background: #000;
                border: .1rem solid #000;
                transition: background 1s;
            }

            .btnHomeImg{
                cursor: pointer;
            }

            .colorBtn{
                background: #000;
            }
}