*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100vw;
    height: 95rem;
    background: #EB5353;
}

.header_section{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
}

    .header_section_h2{
        opacity: 0;
        transition: opacity 1s;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }

    .show-info{
        opacity: 1;
        transition: opacity 1s;
    }


.section_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 90rem;
}

    .section_container_search{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10rem;
    }

        .section_container_search input{
            height: 3rem;
            font-size: 2rem;
            outline: none;
            width: 50%;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border: none;
            background: #F9D923;
            padding: .2rem;
        }

        .section_container_search button{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 10%;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background: #F9D923;
            border: none;
            cursor: pointer;
        }

            .section_container_search button i{
                font-size: 1.5rem;
            }

    .section_container_card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        height: 74rem;
        width: 90%;
        background: #F9D923;
        border-radius: 1rem;
    }

        .section_container_card h1{
            text-align: center;
            font-size: 5rem;
        }

        .section_container_card-img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 14rem;
        }

            .section_container_card-img img{
                border-radius: 50%;
                height: 13rem;
                max-width: 50%;
                object-fit: cover;
            }

    .section_container_card-information{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        height: 60rem;
        width: 100%;
    }

        .section_container_card-information h2{
            font-size: 4rem;
        }

        .section_container_card-information p{
            text-align: justify;
            font-size: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .card-followers{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
        }

            .card-followers h3{
                font-size: 1.5rem;
            }

                .card-followers h3 span{
                    font-size: 1.5rem;
                    margin-right: .5rem;
                }


        .card-repos{
            padding-left: 1rem;
            padding-right: 1rem;
        }

            .card-repos h3{
                font-size: 2rem;
            }

            .card-repos-list{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row wrap;
                margin: 1rem;
            }

            .card-repos-list li {
                margin: 1rem;
                background: #EB5353;
                border-radius: 1rem;
                padding: .5rem;
            }

                .card-repos-list li a{
                    font-size: 1.5rem; 
                    text-decoration: none;
                    color: #000;
                }

@media only screen and (min-width: 768px) {


    body{
        height: 110rem;
    }

    .section_container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100rem;
    }
    
        .section_container_search{

        }
    
            .section_container_search input{
                height: 5rem;
                font-size: 3.5rem;
                width: 30%;
            }
    
            .section_container_search button{
                height: 5rem;
                font-size: 3.5rem;
                width: 10%;
            }
    
                .section_container_search button i{
                    font-size: 2rem;
                }
    
        .section_container_card{
            height: 84rem;
        }
        
    
            .section_container_card-img{
                height: 18rem;
            }
    
                .section_container_card-img img{
                    height: 17rem;
                    max-width: 30%;
                }
    
        .section_container_card-information{
            height: 65rem;
        }
    
            .section_container_card-information h2{
                font-size: 6rem;
            }
    
            .section_container_card-information p{
                font-size: 3rem;
            }
    
            .card-followers{
            }
    
                .card-followers h3{
                    font-size: 2.5rem;
                }
    
                    .card-followers h3 span{
                        font-size: 2.5rem;
                    }
    
    
            .card-repos{
            }
    
                .card-repos h3{
                    font-size: 3rem;
                }
    
                .card-repos-list{
                }
    
                    .card-repos-list li{
                        font-size: 2.5rem;
                    }

}

@media only screen and (min-width: 1024px) {
    body{
        height: 90rem;
    }

    .section_container{
        height: 80rem;
    }
    
        .section_container_search{
        }
    
            .section_container_search input{
                height: 4rem;
                font-size: 2.5rem;
            }
    
            .section_container_search button{
                height: 4rem;
                width: 5%;
            }
    
                .section_container_search button i{
                    font-size: 2rem;
                }
    
        .section_container_card{
            display: flex;
            flex-flow: column wrap;
            height: 50rem;
            width: 70%;
        }
    
            .section_container_card-img{
                width: 30%;
                height: 50rem;
            }
    
                .section_container_card-img img{
                    border-radius: 50%;
                    height: 20rem;
                    max-width: 50%;
                    object-fit: cover;
                }
    
        .section_container_card-information{
            height: 50rem;
            width: 60%;
        }
    
            .section_container_card-information h2{
                font-size: 5rem;
            }
    
            .section_container_card-information p{
                font-size: 2rem;
            }
    
            .card-followers{
                justify-content: space-between;
                width: 100%;
            }
    
                .card-followers h3{
                    font-size: 2rem;
                }
    
                    .card-followers h3 span{
                        font-size: 2rem;
                        margin-right: .5rem;
                    }
    
    
            .card-repos{
                display: flex;
                flex-flow: column nowrap;

            }
    
                .card-repos h3{
                    align-self: flex-start;
                    font-size: 2.5rem;
                }
    
                .card-repos-list{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: row wrap;
                    margin: 1rem;
                }
    
                    .card-repos-list li{
                        font-size: 1.5rem; 
                        margin: 1rem;
                        background: #EB5353;
                        border-radius: 1rem;
                        padding: .5rem;
                    }
    
}