*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
}

img{
    max-width: 100%;
}

body{
    width: 100vw;
    height: 100vh;
}

.header_container{
    position: absolute;
    width: 100%;
    height: 10rem;
    z-index: 50;
}

    .header_container_logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 10rem;
        background: #3A3845;
    }

        .header_container_logo img{
            height: 7rem;
            width: 7rem;
            margin: 1rem;
        }

        .header_container_logo button{
            border: none;
            background: none;
            margin: 1rem;
        }

        .header_container_logo button i{
            font-size: 3rem;
            color: #fff;
        }

.sidebar_container{
    position: absolute;
    z-index: 100;
    background: #F7CCAC;
    width: 100%;
    height: 100%;
    transform: translateX(-200%);
    transition: transform 1s;
}

    .sidebar_container_logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 10rem;
    }

        .sidebar_container_logo img{
            height: 7rem;
            width: 7rem;
            margin: 1rem;
        }

        .sidebar_container_logo button{
            border: none;
            background: none;
            margin: 1rem;
        }

        .sidebar_container_logo button i{
            font-size: 3rem;
            color: #000;
        }

    .sidebar_container_sections{
        width: 100%;
        height: 30rem;
    }

        .sidebar_container_sections_list{
            display: flex;
            height: 100%;
            width: 100%;
            flex-flow: column wrap;
            justify-content: space-between;
        }

            .sidebar_container_sections_list li{
                padding: 1rem;
                font-size: 2rem;
                color: #000;
            }

    .show-sidebar{
        transform: translateX(0%);
    }


@media screen and (min-width:1024px) {

    .header_container{
        display: none;
    }

    .sidebar_container{
        position: fixed;
        display: flex;
        flex-flow: column wrap;
        background: #3A3845;
        width: 20%;
        height: 100%;
        transform: translateX(0%);
        transition: transform 0s;
    }

    .sidebar_container_logo{
        justify-content: center;
    }

        .sidebar_container_logo img{
            width: 7rem;
        }

        .sidebar_container_logo button{
            display: none;
        }

    .sidebar_container_sections{
        width: 100%;
        height: 30rem;
    }

            .sidebar_container_sections_list li{
                padding: 2rem;
                font-size: 2.5rem;
                color: #fff;
            }


}