*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
}

.contenedor{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.contenedor_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 25rem;
    border: 0.5rem solid rgb(8, 135, 255);
    border-radius: 5rem;
    background-color: rgba(13, 20, 17, 0.5);
}

.contenedor_div{
    margin: .5rem;
    padding: .5rem;
    font-size: 5rem;
    color:white;
}

.contenedor_button{
    margin: .5rem;
    padding: .5rem;
}

.contenedor_button button{
    font-size: 3rem;
    min-width: 20rem;
    background-color: rgba(13, 20, 17, 0.3);
    border: none;
    cursor: pointer;
    color:white;
    box-shadow: .2rem .2rem .2rem rgb(8, 135, 255);
}

.contenedor_button input:hover{
    background-color: rgba(229, 255, 0, 0.3);
}

.contenedor_button input:active{
    background-color: rgba(195, 0, 255, 0.7);
}

