*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.section_expanding_cards{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80rem;

}

    .section_expanding_cards_article{
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: row wrap;
        width: 90%;
        height: 100%;

    }  

        .expanding_card{
            position: relative;
            width: 100%;
            height: 100%;
            max-height: 10rem;
            transition: max-height 1s;
        }

            .expanding_card img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
                cursor: pointer;
            }

            .expanding_card h3{
                position: absolute;
                z-index: 500;
                color: #fff;
                bottom: 0;
                left: 0;
                margin-left: 1rem;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            .cardTouched{
                max-height: 30rem;
                height: 100%;
                transition: max-height 1s;
            }

@media only screen and (min-width:1024px){

        
            .expanding_card{
                position: relative;
                height: 70rem;
                max-height: 100%;
                width: 10%;
                max-width: 100%;
                transition: max-width 1s, max-height 0s, width 1s;
            }
    
                .cardTouched{
                    max-height: 70rem;
                    max-width: 60%;
                    width: 50%;
                    height: 100%;
                    transition: max-width 1s, max-height 0s, width 1s;
                }

}